<div class="container">
<h1>Categories index</h1>
<%= link_to "Add new category", new_category_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-windows'} %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<ul>
  <% @categories.each do |category| %>
    <li>
        <p>
          <span class="label_text">
          <%= link_to category.name, category_path(category)%>
          </span>
          <%= link_to "Edit", category_path(category)%>
          <%= link_to "Delete", category_path(category)%>
          </p>
    </li>
  <%end%>
</ul>
</div>
