<div class="card">
  <div class="card-body">
<h4 class="card-subtitle mb-2 text-muted">Category: <%= @category.name%></h1>
<p>keywords</p>
<ul class="list-group">
  <% @category.keywords.each do |keyword| %>
    <li class="list-group-item"><%= link_to keyword.phrase, '' %></li>
  <%end%>
</ul>

<p>
<%= button_to "Back to categories", categories_path,:class => "btn btn-link", method: :get %>
</p>
</div>
</div>
