
    <div class="container">

    <h1>Products#index</h1>
    <%= button_to "Add new Product", products_new_path, method: :get %>
    <ul>
      <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product)%></li>
      <%end%>
    </ul>
</div>
