<% content_for :content do %>
    <div class="jumbotron text-center">
        <h1>Products</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <p>
                    <%= yield %>
                </p>
            </div>
        </div>
    </div>
    <% end %>
    <%= render template: "layouts/application" %>
